<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:include="include :: header('单表字典测试列表')" />
</head>
<body class="pear-container">
     <div class="layui-card">
        <div class="layui-card-body">
            <div class="col-sm-12 search-collapse">
                <form id="formId" class="layui-form">

                    <div class="layui-form-item">
                            <label class="layui-form-label">姓名：</label>
                        <div class="layui-input-inline">
                            <input type="text" name="name" placeholder="请输入姓名" class="layui-input" />
                        </div>
                       
                        <label class="layui-form-label">性别单选：</label>
                        <div class="layui-input-inline">
                            <select name="sex"   dict-code="user_sex" >
                                <option value="">所有</option>
                            </select>
                        </div>
                       
                        <label class="layui-form-label">用户来源下拉框：</label>
                        <div class="layui-input-inline">
                            <select name="source"   dict-code="user_source" >
                                <option value="">所有</option>
                            </select>
                        </div>
                    <button class="pear-btn pear-btn-md pear-btn-primary" lay-submit lay-filter="test-query">
                        <i class="layui-icon layui-icon-search"></i>
                        查询
                    </button>
                    <button type="reset" class="pear-btn pear-btn-md">
                        <i class="layui-icon layui-icon-refresh"></i>
                        重置
                    </button>
                    </div>
                </form>
            </div>
        </div>
     </div>
         <div class="layui-card">
             <div class="layui-card-body">
                 <table id="test-table" lay-filter="test-table"></table>

                 <script type="text/html" id="test-toolbar">
                     <button  sec:authorize="hasPermission('/app/test/add','app:test:add')"  class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
                         <i class="layui-icon layui-icon-add-1"></i>
                         新增
                     </button>
                     <button  sec:authorize="hasPermission('/app/test/remove','app:test:remove')"   class="pear-btn pear-btn-danger pear-btn-md" lay-event="batchRemove">
                         <i class="layui-icon layui-icon-delete"></i>
                         删除
                     </button>
                 </script>

                 <script type="text/html" id="test-bar">
                     <button  sec:authorize="hasPermission('/app/test/edit','app:test:edit')"   class="pear-btn pear-btn-primary pear-btn-sm" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>
                     </button>
                     <button  sec:authorize="hasPermission('/app/test/remove','app:test:remove')"   class="pear-btn pear-btn-danger pear-btn-sm" lay-event="remove"><i class="layui-icon layui-icon-delete"></i>
                     </button>
                 </script>
             </div>
         </div>
    <script type="text/html" id="sex_parseDictText">
        {{layui.dictionary.parseDictText(d.sex,  'user_sex')}}

    </script>
    <script type="text/html" id="interest_parseDictText">
        {{layui.dictionary.parseDictTexts(d.interest,  'user_interest')}}

    </script>
    <script type="text/html" id="source_parseDictText">
        {{layui.dictionary.parseDictText(d.source,  'user_source')}}

    </script>
    <th:block th:include="include :: footer" />
         <script>
             layui.use(['table', 'form', 'jquery','dictionary'], function () {
                 let table = layui.table;
                 let form = layui.form;
                 let $ = layui.jquery;

                 let prefix = "/app/test/";

                 let cols = [
                     [
                         {type: 'checkbox'},
                         {
                             field: 'id',
                             title: '主键'
                         },
                        {
                             field: 'name',
                             title: '姓名'
                        },
                        {
                             field: 'sex',
                             title: '性别单选'
                            ,templet: "#sex_parseDictText"
                        },
                        {
                             field: 'interest',
                             title: '兴趣爱好多选'
                            ,templet: "#interest_parseDictText"
                        },
                        {
                             field: 'source',
                             title: '用户来源下拉框'
                            ,templet: "#source_parseDictText"
                        },
                         {title: '操作', toolbar: '#test-bar', align: 'center', width: 130}
                     ]
                 ]

                 table.render({
                     elem: '#test-table',
                     url: prefix + 'data',
                     page: true,
                     cols: cols,
                     skin: 'line',
                     toolbar: '#test-toolbar',
                     defaultToolbar: [{
                         layEvent: 'refresh',
                         icon: 'layui-icon-refresh',
                     }, 'filter', 'print', 'exports']
                 });

                 table.on('tool(test-table)', function (obj) {
                     if (obj.event === 'remove') {
                         window.remove(obj);
                     } else if (obj.event === 'edit') {
                         window.edit(obj);
                     }
                 });

                 table.on('toolbar(test-table)', function (obj) {
                     if (obj.event === 'add') {
                         window.add();
                     } else if (obj.event === 'refresh') {
                         window.refresh();
                     } else if (obj.event === 'batchRemove') {
                         window.batchRemove(obj);
                     }
                 });

                 form.on('submit(test-query)', function (data) {
                     table.reload('test-table', {where: data.field})
                     return false;
                 });

                 window.add = function () {
                     layer.open({
                         type: 2,
                         title: '新增单表字典测试',
                         shade: 0.1,
                         area: ['550px', '500px'],
                         content: prefix + 'add'
                     });
                 }

                 window.edit = function (obj) {
                     layer.open({
                         type: 2,
                         title: '修改单表字典测试',
                         shade: 0.1,
                         area: ['550px', '500px'],
                         content: prefix + 'edit?id=' + obj.data['id']
                     });
                 }

                 window.remove = function (obj) {
                     layer.confirm('确定要删除该单表字典测试', {icon: 3, title: '提示'}, function (index) {
                         layer.close(index);
                         let loading = layer.load();
                         $.ajax({
                             url: prefix + "remove/" + obj.data['id'],
                             dataType: 'json',
                             type: 'delete',
                             success: function (result) {
                                 layer.close(loading);
                                 if (result.success) {
                                     layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                         obj.del();
                                     });
                                 } else {
                                     layer.msg(result.msg, {icon: 2, time: 1000});
                                 }
                             }
                         })
                     });
                 }

                 window.batchRemove = function (obj) {
                     let data = table.checkStatus(obj.config.id).data;
                     if (data.length === 0) {
                         layer.msg("未选中数据", {icon: 3, time: 1000});
                         return false;
                     }
                     let ids = "";
                     for (let i = 0; i < data.length; i++) {
                         ids += data[i].id + ",";
                     }
                     ids = ids.substr(0, ids.length - 1);
                     layer.confirm('确定要删除这些单表字典测试', {icon: 3, title: '提示'}, function (index) {
                         layer.close(index);
                         let loading = layer.load();
                         $.ajax({
                             url: prefix + "batchRemove",
                             dataType: 'json',
                             data: {"ids":ids},
                             type: 'delete',
                             success: function (result) {
                                 layer.close(loading);
                                 if (result.success) {
                                     layer.msg(result.msg, {icon: 1, time: 1000}, function () {
                                         table.reload('test-table');
                                     });
                                 } else {
                                     layer.msg(result.msg, {icon: 2, time: 1000});
                                 }
                             }
                         })
                     });
                 }

                 window.refresh = function (param) {
                     table.reload('test-table', {where: param});
                 }
             })
         </script>
</body>
</html>