<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>日志详情</title>
    <link rel="stylesheet" type="text/css" th:href="@{/component/json-viewer/jquery.json-viewer.css}">
</head>
<body>
<div>
    <div>
        <div>
            <pre id="json-renderer"></pre>
        </div>
    </div>
</div>
</body>
<script th:src="@{/component/jquery.min.js}"></script>
<script th:src="@{/component/json-viewer/jquery.json-viewer.js}"></script>
<script>
    function showJSON(details) {
        $("#json-renderer").jsonViewer(details);
    }
</script>
</html>