<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>模型列表</title>
    <link rel="stylesheet" href="../../component/pear/css/pear.css">
</head>
<body class="pear-container">
<div class="layui-card">
    <div class="layui-card-header">模型列表</div>
    <div class="layui-card-body">
        <table  id="model-table" lay-filter="model-table"></table>
        <script type="text/html" id="barDemo">
            <a class="pear-btn pear-btn-sm pear-btn-primary" lay-event="publish">发布</a>
            <a class="pear-btn pear-btn-sm pear-btn-warming"  lay-event="design">流程设计</a>
            <a class="pear-btn pear-btn-sm pear-btn-danger" lay-event="del">删除</a>
        </script>
    </div>
</div>
<script type="text/html" id="model-toolbar">
    <button class="pear-btn pear-btn-primary pear-btn-md" lay-event="add">
        <i class="layui-icon layui-icon-add-1"></i>
        创建流程图
    </button>
</script>
<script src="../../component/layui/layui.js"></script>
<script src="../../component/pear/pear.js"></script>
<script>
    layui.use(['table','layer','jquery'], function(){
        let layer = layui.layer;
        let table = layui.table;
        let $ = layui.jquery;

        table.render({
            elem: '#model-table'
            ,method:'get'
            ,url: '/process/model/data'
            ,title: '模型列表'
            ,skin: 'line'
            ,toolbar: '#model-toolbar'
            ,page: true
            ,cols: [
                [
                     {type: 'checkbox'}
                    ,{field: 'id', title: '流程编号', width:120, sort: true}
                    ,{field: 'name', title: '流程名称'}
                    ,{field: 'key', title: '流程标识', sort: true}
                    ,{field: 'version', title: '流程版本',  sort: true}
                    ,{title: '操作',width: 250, align:'center', toolbar: '#barDemo'}
                ]
            ]
        });

        table.on('toolbar(model-table)', function(obj){
            let checkStatus = table.checkStatus(obj.config.id)
            switch(obj.event){
                case 'add':
                    window.add();
                    break;
                case 'update':
                    break;
                case 'delete':
                    break;
            };
        });

        table.on('tool(model-table)', function(obj){
            let layEvent = obj.event;
            if(layEvent === 'del'){
                window.remove(obj);
            } else if(layEvent === 'design'){
                window.design(obj);
            } else if(layEvent === 'publish'){
                window.publish(obj);
            }
        });

        window.add = function(){
            layer.open({
                type: 2,
                title: '新增',
                shade: 0.1,
                area: ['550px', '500px'],
                content: '/process/model/add'
            });
        }

        window.design = function(obj){
            top.layui.tab.addTabOnlyByElem("content",{id:obj.data.id,title:obj.data.name,url:"/process/model/editor?modelId="+obj.data.id,close:true})
        }

        window.publish = function(obj){
            let loading = layer.load();
            $.ajax({
                url:'/process/model/publish',
                data:{modelId:obj.data.id},
                dataType:'json',
                type:'post',
                success:function(data){
                    layer.close(loading);
                    if(data.success){
                        layer.msg(data.msg,{icon:1,time:1000});
                    }else{
                        layer.msg(data.msg,{icon:2,time:1000});
                    }
                }
            })
        }

        window.remove = function(obj){
            layer.confirm('确认删除该流程图吗', function(index){
                $.ajax({
                    url:'/process/model/deleteById',
                    data:{modelId:obj.data.id},
                    dataType:'json',
                    type:'post',
                    success:function(data){
                        if(data.success){
                            layer.msg(data.msg,{icon:1,time:1000},function(){
                                obj.del();
                                layer.close(index);
                            })
                        }else{
                            layer.msg(data.msg,{icon:2,time:1000});
                        }
                    }
                })
            });
        }
    });
</script>
</body>
</html>