.layui-form{width: 320px;margin: auto;margin-top: 160px;}
.layui-form button{border-radius: 3px;width: 100%;height: 40px;line-height: 40px;font-size: 15px;}
.layui-form-checked[lay-skin=primary] i {border-color: #5FB878 !important;background-color: #5FB878;color: #fff;}
.layui-form-item{margin-top: 18px;}
.layui-input{height: 38px;line-height: 38px;padding-left: 15px;border-radius: 3px;}
.layui-input:focus{box-shadow: 0px 0px 3px 1px #5FB878!important;}
.logo{width: 60px;margin-top: 10px;margin-bottom: 10px;margin-left:20px;}
.title{font-size: 30px;font-weight: bold;margin-left: 20px;color: #5FB878 !important;display: inline-block;height: 60px;line-height: 60px;margin-top: 10px;position: absolute;}
.desc{width: 100%;text-align: center;color: gray;height: 60px;line-height: 60px;}
.pear-btn {
    display: inline-block;
    line-height: 38px;
    white-space: nowrap;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #dcdfe6;
    color: #606266;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: 0.1s;
    font-weight: 500;
    padding: 0 18px;
    height: 38px;
    font-size: 14px;
    border-radius: 3px;
}
.pear-btn-primary{
    background-color: #5FB878;
    color: white;
}