<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pearadmin.app.mapper.TDictTestMapper">
    
    <resultMap type="TDictTest" id="TDictTestResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="sex"    column="sex"    />
        <result property="interest"    column="interest"    />
        <result property="source"    column="source"    />
    </resultMap>

    <sql id="selectTDictTestVo">
        select id, name, sex, interest, source from t_dict_test
    </sql>

    <select id="selectTDictTestList" parameterType="TDictTest" resultMap="TDictTestResult">
        <include refid="selectTDictTestVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="sex != null  and sex != ''"> and sex = #{sex}</if>
            <if test="interest != null  and interest != ''"> and interest = #{interest}</if>
            <if test="source != null  and source != ''"> and source = #{source}</if>
        </where>
    </select>
    
    <select id="selectTDictTestById" parameterType="Long" resultMap="TDictTestResult">
        <include refid="selectTDictTestVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertTDictTest" parameterType="TDictTest" useGeneratedKeys="true" keyProperty="id">
        insert into t_dict_test
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">name,</if>
            <if test="sex != null">sex,</if>
            <if test="interest != null">interest,</if>
            <if test="source != null">source,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">#{name},</if>
            <if test="sex != null">#{sex},</if>
            <if test="interest != null">#{interest},</if>
            <if test="source != null">#{source},</if>
         </trim>
    </insert>

    <update id="updateTDictTest" parameterType="TDictTest">
        update t_dict_test
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="interest != null">interest = #{interest},</if>
            <if test="source != null">source = #{source},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteTDictTestById" parameterType="Long">
        delete from t_dict_test where id = #{id}
    </delete>

    <delete id="deleteTDictTestByIds" parameterType="String">
        delete from t_dict_test where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>